body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9ACBD0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #48A6A7;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#contador {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff;
}

button {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;botaoClique
  border-radius: 10px;
  margin: 5px;
  color: fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#botaoClique {
  background-color: #006A71;
}

#botaoClique:hover {
  background-color: #006A71;
}

#resetar {
  background-color: #006A71;
}

#resetar:hover {
  background-color: #006A71;
}
#resetar{
  color:white
}
#botaoClique{
  color: white
}